section#about.about
    .about__container
        .about__header
            h1.title.title_mb-25.about__title О нас
        .description.about__text
            p
                | Мы&nbsp;предоставляем решения для обработки больших данных и&nbsp;машинного обучения, чтобы помочь вашей компании быстрее и&nbsp;эффективнее достигать своих целей.
            p
                | Наши решения основаны на&nbsp;самых передовых технологиях, что позволяет нам обеспечивать быструю и&nbsp;точную обработку больших объемов данных. Мы&nbsp;также предлагаем уникальные инструменты машинного обучения, которые помогают вам принимать более точные решения на&nbsp;основе данных.
        .about__button-container
            a.btn.about__button(href="#contact") Связаться с нами
