include ../mixins/default-section

+default-section(
	'О нас',
	'Мы предоставляем решения для обработки больших данных и машинного обучения, чтобы помочь вашей компании быстрее и эффективнее достигать своих целей.',
	'Наши решения основаны на самых передовых технологиях, что позволяет нам обеспечивать быструю и точную обработку больших объемов данных. Мы также предлагаем уникальные инструменты машинного обучения, которые помогают вам принимать более точные решения на основе данных.',
	''
)
