section.experience
    .experience__container
        .experience__header
            h1.title.title_mb-25.experience__title Проектный опыт команды
        .description.experience__text
            p
                | Команда обладает широким проектным опытом в&nbsp;различных областях, включая бизнес-консалтинг, автоматизацию, разработку MSA, создание высоконагруженных систем, разработку DataLake, администрирование серверов и&nbsp;систем оркестрации контейнеров. Также у&nbsp;команды есть обширный опыт во&nbsp;внедрении и&nbsp;эксплуатации систем мониторинга. Экспертиза команды включает разработку&nbsp;ПО на&nbsp;основе микросервисной архитектуры.