include ../mixins/key-skill-item

section.key-skills
	.key-skills__container
		h2.title__md.title.title_mb-25.text-center Ключевые навыки

		ul.key-skills__list
			+key-skill-item('Интеграция с внешними системами по API', 'Владение навыками интеграции различных систем через API, включая RESTful API и другие протоколы.', false)
			+key-skill-item('Развертывание DataLake', 'Опыт настройки и развёртывания DataLake с использованием Minio для хранения объектов и Kafka для потоковой обработки данных.', false)
			+key-skill-item('Развертывание DWH на основе MPP СУБД', 'Знания и опыт работы с параллельно-обрабатываемыми базами данных для создания хранилищ данных.', false)
			+key-skill-item('Разработка предиктивных ML моделей', 'Опыт создания и применения моделей машинного обучения для предсказательного анализа данных.', false)
			+key-skill-item('Разработка моделей классификации картинок и текста', 'Умение разрабатывать модели машинного обучения для классификации изображений и текстов с применением TensorFlow и других инструментов.', false)
			+key-skill-item('Разработка ETL процессов на Airflow и MSA', 'Навыки разработки процессов извлечения, преобразования и загрузки данных с использованием Airflow и микросервисной архитектуры.', false)
			+key-skill-item('Внедрение и поддержка Airflow', 'Опыт внедрения и поддержки системы управления рабочими процессами Airflow для автоматизации рабочих процессов.', true)
			+key-skill-item('Аналитика данных и построение аналитических БД', 'Навыки анализа данных и построения аналитических баз данных в системах бизнес-аналитики для получения ценной информации из данных.', true)
			+key-skill-item('Разработка речевой аналитики', 'Опыт создания систем анализа речи для распознавания и анализа голосовых данных.', true)
			+key-skill-item('Разработка систем на LLM моделях', 'Навыки разработки и интеграции систем, использующих модели машинного обучения с подкреплением (LLM) для решения задач искусственного интеллекта.', true)
			+key-skill-item('Оптимизация высоконагруженных систем', 'Опыт оптимизации производительности и масштабируемости высоконагруженных систем для обеспечения эффективной работы при больших нагрузках.', true)
			+key-skill-item('Внедрение микросервисной архитектуры', 'Навыки разработки и внедрения микросервисной архитектуры для построения гибких и масштабируемых распределенных систем.', true)
			+key-skill-item('Развертывание и поддержка систем оркестрации контейнеризованных приложений', 'Умение устанавливать, настраивать и поддерживать системы оркестрации контейнеризованных приложений, такие как Kubernetes и Docker Swarm.', true)
			+key-skill-item('Разработка REST FULL API', 'Опыт создания REST API для взаимодействия с клиентскими приложениями и внешними сервисами.', true)
			+key-skill-item('Построение систем непрерывной интеграции процессов разработки', 'Навыки настройки и автоматизации процессов непрерывной интеграции и развертывания (CI/CD) для обеспечения непрерывной разработки и доставки программного обеспечения.', true)
			+key-skill-item('Внедрение методологии ITSM', 'Опыт внедрения и поддержки методологии управления информационной технологией (ITSM) для оптимизации процессов IT-сервиса.', true)
			+key-skill-item('DevOPS для DataLake и DWH', 'Навыки внедрения практик DevOps для управления и автоматизации процессов разработки, тестирования и развертывания DataLake и DWH.', true)
			+key-skill-item('MLOps', 'Опыт внедрения и поддержки MLOps - методологии и практик, направленных на обеспечение эффективного развертывания и управления моделями машинного обучения.', true)


		button.key-skills__button.button#key-skills-show-more(type="button") Показать ещё
