-
  const projects = [
    { name: 'Разработка и внедрение СКУД систем', industry: 'Строительный сектор', tech: 'MicroPython, PHP, Zabbix, MySQL' },
    { name: 'Разработка DWH и ETL процессов для построения PowerBI дашбордов', industry: 'IT Сектор', tech: 'Greenplum, PostgreSQL, K8s, Airflow, Python' },
    { name: 'Разработка DWH и ETL процессов для построения PowerBI дашбордов', industry: 'Косметология', tech: 'Greenplum, PostgreSQL, K8s, Airflow, Python, 1C' },
    { name: 'Разработка DWH и ETL процессов для построения PowerBI дашбордов', industry: 'Строительный сектор', tech: 'Greenplum, PostgreSQL, K8s, Airflow, Python, 1C, MSSQL' },
    { name: 'Перенос CRM системы на микросервисы', industry: 'Строительный сектор', tech: 'MSSQL, K8s, Python, Docker, ArgoCD, Kafka, Minio' },
    { name: 'Внедрение DataLake', industry: 'Строительный сектор', tech: 'MSSQL, K8s, Python, Docker, ArgoCD, Kafka, Minio, Airflow, Spark' },
    { name: 'Внедрение системы VDI для работы удаленных пользователей', industry: 'Строительный сектор', tech: 'Vmware Horizon, ESXI' },
    { name: 'Внедрение мониторинга инфраструктуры и приложений', industry: 'Строительный сектор', tech: 'Zabbix, Grafana, ELK, Observium, Jaeger' },
    { name: 'Реализация интеграций с внешними системами', industry: 'Строительный сектор', tech: 'Python, Airflow, K8s, ArgoCD' },
    { name: 'Реализация речевой аналитики и классификация звонков', industry: 'Строительный сектор', tech: 'Python, Whisper, ChatGPT, NVIDIA Chat With RTX, Weaviate, K8s, Kafka' },
    { name: 'Реализация интеграций с WhatsApp и разработка официального API', industry: 'Строительный сектор', tech: 'GoLang, K8s, Kafka, Minio' },
    { name: 'Реализация предиктивной модели для оптимизации складских остатков', industry: 'Строительный сектор', tech: 'Python, K8s, Kafka, Minio, Spark, TensorFlow, Pandas' },
    { name: 'Реализации классификации картинок из ТГ бота', industry: 'Строительный сектор', tech: 'Python, Minio, TensorFlow, MLOps, Kafka' },
    { name: 'Реализация аналитики по ценным бумагам на фондовом рынке', industry: 'Банковский Сектор', tech: 'Python, Minio, TensorFlow, MLOps, FastAPI, Redis' },
    { name: 'Реализация системы для AB - тестирования и проведение AB - тестирования', industry: 'Банковский Сектор', tech: 'Python, Minio, TensorFlow, MLOps, FastAPI, Redis' },
    { name: 'Внедрение и поддержка инфраструктуры проекта', industry: 'Государственный сектор, ВАТС, Интернет-Магазины', tech: 'GitlabCI, ArgoCD, WatchTower, Docker, Docker-Compose, K8s, Ansible, Terraform' }
  ]

section#projects.projects
  .projects__container
    h2.title.title_mb-25.projects__title Выполненные проекты
    .projects__cards
      each project in projects
        .projects__card
          p.projects__card-name
            span.projects__card-label Проект: 
            span.projects__card-text #{project.name}
          p.projects__card-industry
            span.projects__card-label Отрасль: 
            span.projects__card-text #{project.industry}
          p.projects__card-tech
            span.projects__card-label Стек технологий: 
            span.projects__card-text #{project.tech}
    button.btn.projects__button(type="button") Показать ещё
    button.btn.projects__hide-button(type="button" style="display: none;") Скрыть