-
  const skills = [
    { title: 'Интеграция с внешними системами по API', text: 'Владение навыками интеграции различных систем через API, включая RESTful API и другие протоколы.' },
    { title: 'Развертывание DataLake', text: 'Опыт настройки и развёртывания DataLake с использованием Minio для хранения объектов и Kafka для потоковой обработки данных.' },
    { title: 'Развертывание DWH на основе MPP СУБД', text: 'Знания и опыт работы с параллельно-обрабатываемыми базами данных для создания хранилищ данных.' },
    { title: 'Разработка предиктивных ML моделей', text: 'Опыт создания и применения моделей машинного обучения для предсказательного анализа данных.' },
    { title: 'Разработка моделей классификации картинок и текста', text: 'Умение разрабатывать модели машинного обучения для классификации изображений и текстов с применением TensorFlow и других инструментов.' },
    { title: 'Разработка ETL процессов на Airflow и MSA', text: 'Навыки разработки процессов извлечения, преобразования и загрузки данных с использованием Airflow и микросервисной архитектуры.' },
    { title: 'Оптимизация высоконагруженных систем', text: 'Опыт оптимизации производительности и масштабируемости высоконагруженных систем для обеспечения эффективной работы при больших нагрузках.' },
    { title: 'Внедрение микросервисной архитектуры', text: 'Навыки разработки и внедрения микросервисной архитектуры для построения гибких и масштабируемых распределенных систем.' },
    { title: 'Развертывание и поддержка систем оркестрации контейнеризованных приложений', text: 'Умение устанавливать, настраивать и поддерживать системы оркестрации контейнеризованных приложений, такие как Kubernetes и Docker Swarm.' },
    { title: 'Разработка REST FULL API', text: 'Опыт создания REST API для взаимодействия с клиентскими приложениями и внешними сервисами.' },
    { title: 'Построение систем непрерывной интеграции процессов разработки', text: 'Навыки настройки и автоматизации процессов непрерывной интеграции и развертывания (CI/CD) для обеспечения непрерывной разработки и доставки программного обеспечения.' },
    { title: 'Внедрение методологии ITSM', text: 'Опыт внедрения и поддержки методологии управления информационной технологией (ITSM) для оптимизации процессов IT-сервиса.' },
    { title: 'DevOPS для DataLake и DWH', text: 'Навыки внедрения практик DevOps для управления и автоматизации процессов разработки, тестирования и развертывания DataLake и DWH.' },
    { title: 'MLOps', text: 'Опыт внедрения и поддержки MLOps - методологии и практик, направленных на обеспечение эффективного развертывания и управления моделями машинного обучения.' }
  ]

section#skills.skills
  .skills__container
    h2.title.title_mb-25.skills__title Ключевые навыки
    .skills__cards
      each skill in skills
        .skills__card
          h3.skills__card-title= skill.title
          p.skills__card-text= skill.text
    button.btn.skills__button(type="button") Показать ещё
    button.btn.skills__hide-button(type="button" style="display: none;") Скрыть