section.solutions
	.solutions__container
		.solutions__head
			h2.title.title__md.title_mb-25.text-center Наши решения
			p.solutions__text.text.text-center Мы помогаем нашим клиентам эффективно развивать свой бизнес и достигать поставленных целей.

		//.swiper#solutions-swiper
		//	.swiper-wrapper

