section.solutions
  .solutions__container
    h2.title.title_mb-25.solutions__title Наши решения
    p.description.solutions__text Мы&nbsp;помогаем нашим клиентам эффективно развивать свой бизнес и&nbsp;достигать поставленных целей.
    .solutions__cards
      .card.solutions__card
        h3.card-title.solutions__card-title Аналитика конкурентов
        img.card-image.solutions__card-image(src="./src/images/solutions/solutions-1.jpg" alt="Solution 1")
        p.card-text.solutions__card-text Мы&nbsp;предлагаем передовую аналитику конкурентов, используя современные технологии обработки больших данных и&nbsp;машинного обучения. Получите подробные сведения о&nbsp;стратегиях, продуктах и&nbsp;услугах конкурентов, оцените их&nbsp;эффективность на&nbsp;рынке и&nbsp;выявите свои конкурентные преимущества.
      .card.solutions__card
        h3.card-title.solutions__card-title Аналитика складов
        img.card-image.solutions__card-image(src="./src/images/solutions/solutions-2.jpg" alt="Solution 2")
        p.card-text.solutions__card-text Наши решения для складской аналитики оптимизируют управление запасами и&nbsp;логистикой, сокращая издержки и&nbsp;эффективно используя складские пространства. Мы&nbsp;применяем передовые методы машинного обучения и&nbsp;анализа данных для улучшения процессов управления складом, включая планирование запасов, управление заказами и&nbsp;прогнозирование спроса.
      .card.solutions__card
        h3.card-title.solutions__card-title Аналитика маркетплейсов
        img.card-image.solutions__card-image(src="./src/images/solutions/solutions-3.jpg" alt="Solution 3")
        p.card-text.solutions__card-text Наша аналитика для маркетплейсов автоматически пополняет запасы на&nbsp;складе, основываясь на&nbsp;передовых методах обработки данных и&nbsp;машинного обучения. Мы&nbsp;анализируем рыночные тенденции, поведение пользователей и&nbsp;конкуренцию, что позволяет оптимизировать процессы управления.
