include ../mixins/default-section

+default-section(
	'Проектный опыт команды',
	'Команда обладает широким проектным опытом в различных областях, включая бизнес-консалтинг, автоматизацию, разработку MSA, создание высоконагруженных систем, разработку DataLake, администрирование серверов и систем оркестрации контейнеров. Также у команды есть обширный опыт во внедрении и эксплуатации систем мониторинга. Экспертиза команды включает разработку ПО на основе микросервисной архитектуры.',
	''
)
