@import "../config/mixins";

.burger-button {
	position: relative;
	z-index: 10;
	display: none;
	overflow: hidden;

	@include media-mx(845) {
		display: block;
	}

	&__ham {
		transition: transform var(--cs-default-transition);
		user-select: none;
	}

	&__line {
		fill: none;
		transition: stroke-dasharray 400ms,
		stroke-dashoffset 400ms;
		stroke: var(--cs-white-color);
		stroke-width: 5;
		stroke-linecap: round;

		&_top {
			stroke-dasharray: 40 139;
		}

		&_bottom {
			stroke-dasharray: 40 180;
		}
	}

	.burger-menu-open & {
		&__ham {
			transform: rotate(45deg);
		}

		&__line {
			stroke: var(--cs-white-color);

			&_top {
				stroke-dashoffset: rem(-98);
			}

			&_bottom {
				stroke-dashoffset: rem(-138);
			}
		}
	}
}
