@import "../config/mixins";

.default-section {
	height: 100vh;
	display: flex;
	align-items: center;

	&__container {
		max-width: rem(1000);
	}

	&__content {
		gap: rem(10);
		display: flex;
		flex-direction: column;
	}
}
