@import "../config/functions";
@import "../config/mixins";

.header {
	padding-block: rem(25);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	backdrop-filter: blur(#{rem(3)});

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__burger-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		opacity: 0;
		display: flex;
		flex-direction: column;
		transform: translateY(-100%);
		background-color: rgba(#000, 70%);
		transition: transform var(--cs-default-transition), opacity var(--cs-default-transition);

		.burger-menu-open & {
			opacity: 1;
			transform: translateY(0);
		}

		@include media-mn(845) {
			display: none;
		}
	}

	&__burger-menu-inner {
		@include media-mx(845) {
			overflow-y: scroll;
			min-height: 100%;
			display: flex;
		}
	}

	&__burger-menu-body {
		padding-block: rem(60);
		margin: auto;
		gap: rem(20);
		display: flex;
		flex-direction: column;
	}
}

.nav {
	&__list {
		gap: rem(15);
		display: flex;
		align-items: flex-end;

		@include media-mx(845) {
			align-items: center;
			flex-direction: column;
		}
	}

	&__item {
		min-width: rem(60);
	}

	&__link {
		@include media-mx(845) {
			font-size: rem(22);
		}
	}
}
