@import "../config/mixins";

.key-skill-item {
	width: 100%;
	cursor: default;
	padding: rem(20);
	border-style: solid;
	border-width: rem(1);
	border-color: rgba(#fff, 40%);
	border-radius: var(--cs-default-radius);

	&__title {
		margin-bottom: rem(5);
	}

	&.hidden {
		display: none;
	}
}
