@import "./mixins.scss";

:root {
	// Семейство шрифта по умолчанию
	--cs-font-family: "Open Sans", sans-serif;

	// Размер шрифта по умолчанию
	--cs-font-size: #{rem(18)};

	// Жирность шрифта по умолчанию
	--cs-font-weight: 400;

	// Базовая высота шрифта
	--cs-line-height: 1;

	--cs-default-text-color: #fff;

	--cs-white-color: #fff;
	--cs-black-color: #000;
	--cs-blue-orange: #ed8231fd;

	--cs-link-hover-color: #ff7300;
	--cs-orange-hover-color: #e84809;

	// Radii
	--cs-default-radius: #{rem(8)};

	// Other
	--cs-default-transition: .3s ease-in-out;
	--cs-default-border: #{rem(1)} solid rgba(20, 16, 36, 0.2);

	--cs-dark-bg-color: #141024;
	--cs-grey-bg-color: #F9F9F9;
	--cs-white-bg-color: #FFF;

	--cs-text-color-red: #D52027;
	--cs-text-color-dark: #141024;
	--cs-text-white-color: #fff;

	--cs-blue-color: #0071eb;
	--cs-link-hover-color-blue: #040e7e;
	--cs-link-hover-color-red: #c40910;
}
