@import "./mixins.scss";

:root {
	// Семейство шрифта по умолчанию
	--cs-font-family: "Open Sans", sans-serif;

	// Размер шрифта по умолчанию
	--cs-font-size: #{rem(16)};

	// Жирность шрифта по умолчанию
	--cs-font-weight: 400;

	// Базовая высота шрифта
	--cs-line-height: 1;

	--cs-default-text-color: #fff;

	--cs-white-color: #fff;
	--cs-black-color: #000;
	--cs-gray: #ccc;

	--cs-link-hover-color: #ff4500;

	--cs-default-transition: .3s ease-in-out;
	--cs-default-border: #{rem(1)} solid rgba(0, 0, 0, 0.2);
}
