.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(100) 0;
    
    text-align: center;
  
    background-color: var(--cs-white-bg-color);

    &__title {
      color: var(--cs-text-color-dark);
    }
  
    &__text {
      color: var(--cs-text-color-dark);
      max-width: rem(1050);
      line-height: 1.5;
  
      p {
        opacity: 0.7;
        margin-bottom: rem(20);

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
}

@media (max-width: rem(1024)){
  .experience {
      padding: rem(80) 0;
  }
}
  
@media (max-width: rem(768)){
    .experience {
        padding: rem(60) 0;

        &__text {
          p {
              margin-bottom: rem(10);
          }
        }
    }
  
    .title {
      &_mb-25 {
        margin-bottom: rem(15);
      }
    }
}
  
@media (max-width: rem(480)) {
    .experience {
        padding: rem(40) 0;
    }
}  