.skills {
    padding: rem(100) 0;
    background-color: var(--cs-grey-bg-color);
    color: var(--cs-text-color-dark);
    text-align: center;
  
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(20);
        
        @media (max-width: rem(768)) {
            gap: rem(10);
        }
    }
  
    &__card {
        border: var(--cs-default-border);
        background-color: var(--cs-white-bg-color);
        border-radius: rem(20);
        color: var(--cs-text-color-dark);
        text-align: left;

        padding: rem(20);
        width: calc(33.333% - rem(20));
        max-width: rem(350);

        transition: var(--cs-default-transition);
  
        @include any-hover {
            transform: scale(1.03);
            box-shadow: 0 rem(8) rem(16) rgba(0, 0, 0, 0.2);
            background-color: var(--cs-dark-bg-color);
            color: var(--cs-white-color);
        }
  
        @media (max-width: rem(992)) {
            width: calc(50% - rem(20));
        }
    
        @media (max-width: rem(576)) {
            width: 100%;
            max-width: none;
        }
    }
  
    &__card-title {
        @include adaptive-clamp('font-size', 21, 16);
        font-weight: 600;
        line-height: 1.2;

        margin: 0 0 rem(15) 0;
    }
  
    &__card-text {
        @include adaptive-clamp('font-size', 18, 14);
        text-align: left;
        line-height: 1.5;
    }

    &__button,
    &__hide-button {
        margin-top: rem(40);
    }
}

@media (max-width: rem(1024)){
    .skills {
        padding: rem(80) 0;
    }
}

@media (max-width: rem(768)){
    .skills {
        padding: rem(60) 0;

        &__button,
        &__hide-button {
            margin-top: rem(30);
        }
    }
}

@media (max-width: rem(480)) {
    .skills {
        padding: rem(40) 0;
    }
}