@import "../config/mixins";

.solutions {
	display: flex;
	flex-direction: column;

	@include media-mx(768) {
		padding-block: rem(60);
	}

	@include media-mx(480) {
		padding-block: rem(40);
	}

	&__text {
		margin-inline: auto;
		max-width: rem(580);
	}
}
