extends layouts/base

//- Place to connect a variables:
block vars
	- pageTitle = 'Home Page'
	include vars/links

//- Place to connect the header
block header
	include partials/header

//- Place to connect content of the page:
block contentPage
	main.page
		include sections/promo-landing
		include sections/about-us
		include sections/solutions
		include sections/team-experience
		include sections/key-skills
		include sections/completed-projects
				include sections/contact

//- Place to connect the footer:
block footer
	include partials/footer
