extends layouts/base

//- Place to connect a variables:
block vars
	- pageTitle = 'Home Page'
	include vars/links

//- Place to connect the header
block header
	include partials/header

//- Place to connect content of the page:
block contentPage
	main.page
		include sections/promo-landing
		include sections/about
		include sections/solutions
		include sections/experience
		include sections/skills
		include sections/projects
		include sections/contact


//- Place to connect the footer:
block footer
	include partials/footer
