footer.footer
    .footer__container
        .footer__logo CloudsSystems
        .footer__contact
            p Telephone: +7 (964) 902-73-67
            p Email: i@cloudssystems.ru
        .footer__socials
            a.footer__icon.footer__icon--telegram(href="https://t.me/marvellvs", target="_blank")
                img(src="./src/images/social/telegram.png" width=40 height=40 alt="Telegram")
            a.footer__icon.footer__icon--whatsapp(href="https://api.whatsapp.com/send/?phone=79649027367&text&type=phone_number&app_absent=0", target="_blank")
                img(src="./src/images/social/whatsapp.png" width=40 height=40 alt="Whatsapp")