header.header
	.header__container
		nav.nav
			ul.nav__list
				li.nav__item.text-center
					a.nav__link(href="#contact") Контакты
				li.nav__item.text-center
					a.nav__link(href="#about") О нас
				li.nav__item.text-center
					a.nav__link.nav__link_logo(href="#!") CloudsSystems
				li.nav__item.text-center
					a.nav__link(href="#projects") Проекты
				li.nav__item.text-center
					a.nav__link(href="#skills") Решения
					
		include burger-button